/vendor
/node_modules
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.sql
*.sql.gz
storage/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/public/*
public/storage